/**********************************************************************/
/* @file: docs/css/custom.css */
/**********************************************************************/
/* 全局配置 {{{ */
:root > * {
  /* --md-header-height: 1rem;   /* 导航栏整体高度 默认 3.2rem */
}
.md-source-file {
  margin: 0.5em 0;
}
.md-typeset h1 {
  margin: 0 0 0.5em;
  font-weight: 700;
}
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  margin: 0.5em 0;
  font-weight: 700;
}
.md-typeset h2+h3 {
  margin-top: 0em;
}
/* }}} */
/**********************************************************************/
/* 亮色主题 {{{ */
[data-md-color-scheme="default"] { /* 亮色模式 */
  /* --md-code-fg-color: #002233; /* `文字` */
  --md-default-bg-color: #f0f0f0; /* 背景颜色 */
  /* --md-default-fg-color--lightest: #ff0000; /* 一些小图标 */
  /* --md-primary-fg-color: #101010; /* primary 导航栏背景颜色 */
  --md-typeset-color: #002233; /* 正文文字 */
}

/**********************************************************************/
/* 顶部导航栏 {{{ */
[data-md-color-scheme="default"] .md-header {
  /* !important 是 CSS 权重强制提升标记，写在样式声明末尾，分号之前。
   * 作用：无视正常 CSS 优先级规则，强制让这条样式生效。 */
  /* height: 2rem; /* 高度 */
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #002233;
  color: #002233;
}
[data-md-color-scheme="default"] .md-header .md-header__button,
[data-md-color-scheme="default"] .md-header .md-header__title,
[data-md-color-scheme="default"] .md-header .md-nav__link,
[data-md-color-scheme="default"] .md-header .md-search,
[data-md-color-scheme="default"] .md-search__form,
[data-md-color-scheme="default"] .md-search__icon.md-icon,
[data-md-color-scheme="default"] .md-search__input,
[data-md-color-scheme="default"] .md-search__output,
[data-md-color-scheme="default"] .md-header__source {
  color: #002233;
}

[data-md-color-scheme="default"] .md-tabs { /* 亮色模式 */
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #002233;
  color: #002233;
}
/* }}} */
/**********************************************************************/
/* 底部 {{{ */
[data-md-color-scheme="default"] .md-footer { /* 亮色模式 */
  /* background-color: #ffffff !important; */
  /* border-top: 1px solid #002233; */
  /* color: #002233; */
}
/* }}} */
/**********************************************************************/
/* }}} */
/**********************************************************************/
/* 暗色主题 {{{ */
[data-md-color-scheme="slate"] { /* 暗色模式 */
  --md-code-fg-color: #99ddff; /* `文字` */
  --md-default-bg-color: #101010; /* 背景颜色 */
  /* --md-default-fg-color--lightest: #ff0000; /* 一些小图标 */
  /* --md-primary-fg-color: #101010; /* primary 导航栏背景颜色 */
  --md-typeset-color: #bbddff; /* 正文文字 */
}
/**********************************************************************/
/* 顶部导航栏 {{{ */
[data-md-color-scheme="slate"] .md-header {
  /* !important 是 CSS 权重强制提升标记，写在样式声明末尾，分号之前。
   * 作用：无视正常 CSS 优先级规则，强制让这条样式生效。 */
  /* height: 2rem; /* 高度 */
  background-color: #101010 !important;
  border-bottom: 1px solid #bbddff;
  color: #bbddff;
}

[data-md-color-scheme="slate"] .md-search {
  /* height: 2rem; /* 将此值修改为你想要的高度 */
}

[data-md-color-scheme="slate"] .md-search__input {
  /* height: 1rem; /* 将此值修改为你想要的高度 */
}
[data-md-color-scheme="slate"] .md-header .md-header__button,
[data-md-color-scheme="slate"] .md-header .md-header__title,
[data-md-color-scheme="slate"] .md-header .md-nav__link,
[data-md-color-scheme="slate"] .md-header .md-search,
[data-md-color-scheme="slate"] .md-search__form,
[data-md-color-scheme="slate"] .md-search__icon.md-icon,
[data-md-color-scheme="slate"] .md-search__input,
[data-md-color-scheme="slate"] .md-search__output,
[data-md-color-scheme="slate"] .md-header__source {
  color: #bbddff;
}

/* .md-header__button.md-logo svg { height: 1rem; } /**/
/**********************************************************************/
[data-md-color-scheme="slate"] .md-tabs { /* 暗色模式 */
  background-color: #101010 !important;
  border-bottom: 1px solid #bbddff;
  color: #bbddff;
}

/* }}} */
/**********************************************************************/
/* 底部 {{{ */
[data-md-color-scheme="slate"] .md-footer { /* 暗色模式 */
  background-color: #101010;
  border-top: 1px solid #bbddff;
  color: #bbddff;
}
[data-md-color-scheme="slate"] .md-copyright {
  /* color: #bbddff; */
}
/* }}} */
/**********************************************************************/
/* “返回顶部”按钮 {{{ */
[data-md-color-scheme="slate"] .md-top {
  border: 1px solid #bbddff;
  color: #bbddff;
}
[data-md-color-scheme="slate"] .md-top.md-icon:hover {
  background-color: #bbddff;
  color: #000000;
}
/* }}} */
/**********************************************************************/
[data-md-color-scheme="slate"] h1 { /* 暗色模式 */
  color: #bbddff; /* 文字颜色 */
}
/**********************************************************************/
/* }}} */
/**********************************************************************/

